<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
</head>
<body>
{% block content %}
<div class="container mt-5">
    <h1>Qu'est-ce que Share ?</h1>

    <p>Mettre en commun des biens pour davantage d'émancipation matérielle avec
    un système de gestion d'emprunt qui donne un intérêt à la fois individuel et collectif de
    partager ses biens avec sa famille, ses amis ou encore ses voisins !</p>

    <h1>Le système Share</h1>

    <p>Le système Share consiste à louer un produit à sa communauté avec un système de points
    qui permet de réguler le droit que l'on a sur un objet, la durée de son utilisation et
    d'encourager les utilisateurs de la communauté à apporter davantage d'objets à l'emprunt
    pour avoir accès à des objets de plus en plus intéressants.</p>

    <h2>Un système de points ?</h2>

    <h3>Ajout d'un produit</h3>

    <p>Le système Share permet à chaque utilisateur d'une communauté à mettre un bien en location au sein
    d'une communauté. Lorsqu'un bien est soumis à la communauté, chaque membre doit lui donner une
    valeur en point - la valeur du point représente le nombre maximal de jour que l'on peut emprunter
    cet objet et le nombre de point qu'un utilisateur doit accumuler pour pouvoir emprunter cet objet.
    Une fois que tout le monde lui a donné une valeur, le produit prend la valeur moyenne des votes
    utilisateurs comme coût en point.</p>

    <h3>Comment avoir des points pour emprunter les objets proposés par la communauté</h3>

    <p>Les utilisateurs d'une communauté obtiennent les points en fonction des coûts des
    objets mis en location. Ils obtiennent le nombre de points totaux des objets mis en location
    divisé par le nombre d'utilisateur.</p>

    <p class="code">Exemple :
    Il y a trois utilisateurs dans la communauté GAMERS.
    <br />
    Il y a une PS5 et une NITENDO64.
    <br />
    La PS5 a été évalué par les trois utilisateurs à 20 points
    <br />
    La NITENDO64 a été évalué par les trois utilisateurs à 4 points
    <br />
    Le total des objets en location est de 24 points.
    <br />
    Chaque utilisateur reçoit 8 points.</p>

    <h4>Comment puis-je obtenir la PS5 ?</h4>

    <p>Avec le système Share, le produit
    le plus cher est inaccessible à chaque utilsateur qui fait parti de la communauté,
    à cause de la règle de répartition des points. Pourquoi ?</p>

    <p>Cela encourage la collectivité
    à davantage partager des biens intéressants pour sa communauté pour
    individuellement profiter d'objets plus intéressants, tout en faisant profiter la
    collectivité par effet.</p>

    <h4>Règle d'or</h4>
    <p>Pour obtenir le produit le plus cher, il faut que la communauté
    possède en points l'équivalent de x exemplaire du produit le plus cher
    avec x = le nombre d'utilisateur.</p>


    <p class="code">Exemple :
    Il y a trois utilisateurs dans la communauté GAMERS.
    <br />
    Il y a une PS5 et une NITENDO64.
    <br />
    La PS5 a été évalué par les trois utilisateurs à 20 points
    <br />
    La NITENDO64 a été évalué par les trois utilisateurs à 4 points
    <br />
    Le total des objets en location est de 24 points.
    <br />
    Chaque utilisateur reçoit 8 points.
    <br />
    Pour obtenir la PS5, il faut :
    <br />
     - Avoir 10 NINTENDO64
        <br />
        Il y a une PS5 et dix NITENDO64.
        <br />
        La PS5 a été évalué par les trois utilisateurs à 20 points
        <br />
        Les dix NITENDO64 ont été évalué par les trois utilisateurs à 4 points
        <br />
        Le total des objets en location est de 60 points.
        <br />
        Chaque utilisateur reçoit 20 points. Chaque utilsateur peur acheter la PS5.
        <br />
     - Avoir 3 PS5
        <br />
        Il y a trois PS5 et une NITENDO64.
        <br />
        Les PS5 ont été évalué par les trois utilisateurs à 20 points
        <br />
        La NITENDO64 a été évalué par les trois utilisateurs à 4 points
        <br />
        Le total des objets en location est de 60 points.
        <br />
        Chaque utilisateur reçoit 20 points. Chaque utilsateur peur acheter la PS5.</p>

    <h3>Récupérer ses points pour avoir d'autres objets</h3>
    <p>Lorsque le produit est emprunté, pour chaque jour qu'on le
    possède, on récupère un point par jour.
    Lorsqu'on rend l'objet à la communauté, on récupère tous ses points.</p>

    <style>
        p{
            width: 800px;
        }

        .code{
            font-family: Courier New;
        }
    </style>
    {% endblock content %}
</div>
</body>
</html>