<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
</head>
<body>
{% block content %}
<div class="container mt-5">
    <h1>Qu'est-ce que Share ?</h1>

    <p>
        SHARE est un projet qui se veut social et écologique permettant à chacun de s’émanciper davantage matériellement
        grâce au partage et à l’emprunt de biens matériels en communauté. L’idée est de permettre aux utilisateurs de
        recycler des objets peu utilisés en les prêtant, et de profiter d’objets délaissés par leur propriétaire qui
        peuvent être très utiles selon les besoins de chacun. Aussi, pour consommer mieux et plus que peut le permettre
        son pouvoir d’achat, SHARE veut favoriser l’achat groupé pour des objets conséquents qu’on peut très bien
        partager en famille, entre amis, entre collègues ou entre voisins. La particularité de ce projet est de
        construire un système qui vise à réguler, démocratiser et rendre le plus égalitaire possible le processus de partage.
    </p>

    <h1>Le système Share</h1>

    <p>
        Le système Share consiste à louer un produit à sa communauté avec un système de points qui permet de réguler
        le droit que l'on a sur un objet, la durée de son utilisation et d'encourager les utilisateurs de la communauté
        à apporter davantage d'objets à l'emprunt pour avoir accès à des objets de plus en plus intéressants.
        Les points ne sont pas attribués au mérite de celui qui apportera le plus d’objets à la communauté, mais
        simplement à l’importance que la communauté revêt pour ses membres. C’est le nombre d’objets partagés en
        communauté qui est récompensé.
    </p>

    <h2>Ajout d'un produit</h2>

    <p>Le système Share permet à chaque utilisateur d'une communauté à mettre un bien en location au sein
    d'une communauté. Lorsqu'un bien est soumis à la communauté, chaque membre doit lui donner une
    valeur en point - la valeur du point représente le nombre maximal de jours que l'on peut emprunter
    cet objet et le nombre de point qu'un utilisateur doit accumuler pour pouvoir emprunter cet objet.
    Une fois que tout le monde lui a donné une valeur, le produit prend la valeur moyenne des votes
    utilisateurs comme coût en point.</p>

    <h2>Obtenir des points</h2>

    <p>Les utilisateurs d'une communauté obtiennent les points en fonction des coûts des
    objets mis en location. Ils obtiennent le nombre de points totaux des objets mis en location
    divisé par le nombre d'utilisateur.</p>

    <p class="code">Exemple :
    Il y a trois utilisateurs dans la communauté GAMERS.
    <br />
    <br />
    Il y a une PS5 et une NITENDO64.
    <br />
    La PS5 a été évaluée par les trois utilisateurs à 20 points
    <br />
    La NITENDO64 a été évaluée par les trois utilisateurs à 4 points
    <br />
    <br />
    Le total des objets en location est de 24 points.
    <br />
    <br />
    Chaque utilisateur reçoit 8 points.</p>

    <h3>Particularité</h3>

    <p>Avec le système Share, le produit
    le plus cher est inaccessible à chaque utilsateur qui fait parti de la communauté,
    à cause de la règle de répartition des points. Pourquoi ?</p>

    <p>Cela encourage la collectivité
    à davantage partager des biens intéressants pour sa communauté pour
    individuellement profiter d'objets plus intéressants, tout en faisant profiter la
    collectivité par effet.</p>

    <p class="d-inline">
        Pour obtenir le produit le plus cher, il faut que la communauté possède en points l'équivalent de <p class="code d-inline">x</p> exemplaires
        du produit le plus cher avec <p class="code d-inline">x = le nombre d'utilisateurs.</p>
    </p>


    <p class="code">Exemple :
    Il y a trois utilisateurs dans la communauté GAMERS.
    <br />
    <br />
    Il y a une PS5 et une NITENDO64.
    <br />
    La PS5 a été évaluée par les trois utilisateurs à 20 points
    <br />
    La NITENDO64 a été évaluée par les trois utilisateurs à 4 points
    <br />
    <br />
    Le total des objets en location est de 24 points.
    <br />
    <br />
    Chaque utilisateur reçoit 8 points.
    <br />
    <br />
    Pour obtenir la PS5, il faut :
    <br />
    <br />
     - Avoir 10 NINTENDO64
        <br />
        Il y a une PS5 et dix NITENDO64.
        <br />
        La PS5 a été évaluée par les trois utilisateurs à 20 points
        <br />
        Les dix NITENDO64 ont été évaluées par les trois utilisateurs à 4 points
        <br />
        <br />
        Le total des objets en location est de 60 points.
        <br />
        <br />
        Chaque utilisateur reçoit 20 points. Chaque utilisateur peut acheter la PS5.
        <br />
        <br />
     - Avoir 3 PS5
        <br />
        Il y a trois PS5 et une NITENDO64.
        <br />
        Les PS5 ont été évaluées par les trois utilisateurs à 20 points
        <br />
        La NITENDO64 a été évaluée par les trois utilisateurs à 4 points
        <br />
        <br />
        Le total des objets en location est de 60 points.
        <br />
        <br />
        Chaque utilisateur reçoit 20 points. Chaque utilisateur peut acheter la PS5.</p>

    <h2>Récupérer ses points</h2>
    <p>
        Lorsque le produit est emprunté, pour chaque jour qu'on le possède, on récupère un point par jour.
        Lorsqu'on rend l'objet à la communauté, on récupère tous ses points. Il est possible de rendre l’objet
        quand on veut durant la location.
    </p>

    <style>
        p{
            width: 800px;
        }

        .code{
            font-family: Courier New;
            background-color: #f6f8fa;
        }
    </style>
    {% endblock content %}
</div>
</body>
</html>