<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A propos</title>
</head>
<body>
{% block content %}
<div class="container mt-5">
  <p>Image par défaut des produits et communautés fourni par <a href="https://pixabay.com/fr/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2457842">Gerd Altmann</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2457842">Pixabay</a></p>
    {% endblock content %}
</div>
</body>
</html>