{% extends 'base.html' %}

{% load static %}

{% block title %}Changement de mot de passe{% endblock title %}
{% block content %}
{% include 'messages.html' %}
<body>
    <h1 class="mt-5">Modifier le mot de passe</h1>

    <form method="POST" action="/account/password/change/" class="password_change">
        <input type="hidden" name="csrfmiddlewaretoken" value="GuttyOygyVFUL70XLCuFKIOyWnN1NyuuWJfc5kPC5BZDxmPbooci4GzjlutW6pIZ">
        <p><label for="id_oldpassword">Mot de passe actuel :</label> <input type="password" name="oldpassword" placeholder="Mot de passe actuel" autocomplete="current-password" required id="id_oldpassword"></p>
    <p><label for="id_password1">Nouveau mot de passe :</label> <input type="password" name="password1" placeholder="Nouveau mot de passe" autocomplete="new-password" required id="id_password1"></p>
    <p><label for="id_password2">Nouveau mot de passe (confirmation) :</label> <input type="password" name="password2" placeholder="Nouveau mot de passe (confirmation)" required id="id_password2"></p>
        <button type="submit" name="action">Modifier le mot de passe</button>
        <a href="/account/password/reset/">Mot de passe oublié ?</a>
    </form>
</body>
{% endblock content %}