<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ group.name }}</title>
</head>
<body>
{% block content %}
{% if group.private and group.name in group_member_list or not group.private %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="col d-flex flex-row align-items-center">
                <h1 class="pe-5">{{ group.name }}</h1>
                {% if group.image %}
                <img class="group-image" src="{{ group.image.url }}">
                {% endif %}
                {% if group.url %}
                <a class="ms-5" href="{{ group.url }}">Site web ou Discord de la communauté</a>
                {% else %}
                <p class="ms-5 text-danger">Cette communauté n'a pas de site web ou Discord</p>
                {% endif %}
            </div>
            <p>Nombre de membres : {{ members_number }}</p>
            <p>Nombre de points : {{ group.points }}</p>
            <p>Nombre de produits : {{ products_number }}</p>
            <p>Points par utilisateur : {{ group.members_points }}</p>
            <p>Adresse : {{ group.address }}</p>
        </div>
        {% if group.name in group_member_list %}
            <div class="col d-flex flex-column mt-5">
                {% if not modify_group_vote %}
                <form method="POST" action="{% url 'collective_decision:modify_vote_group' %}">
                    {% csrf_token %}
                    <button class="btn btn-link primary d-inline" value="submit">Modifier la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% else %}
                <form method="POST" action="{% url 'collective_decision:against_modify_vote_group' %}">
                    {% csrf_token %}
                    <button class="btn btn-link primary d-inline" value="submit">Modifier la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% endif %}
                <a class="link-primary d-inline ms-3" href="{% url 'product:add_product' group.pk %}">Inscrire un produit</a>
                {% if not delete_group_vote %}
                <form method="POST" action="{% url 'collective_decision:delete_vote_group' %}">
                    {% csrf_token %}
                    <button class="btn btn-link danger d-inline" value="submit">Supprimer la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% else %}
                <form method="POST" action="{% url 'collective_decision:against_delete_vote_group' %}">
                    {% csrf_token %}
                    <button class="btn btn-link danger d-inline" value="submit">Supprimer la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% endif %}
                <form method="POST" action="{% url 'group_member:delete_group_members' %}">
                    {% csrf_token %}
                    <button id="leave-community" class="btn btn-danger d-inline" value="submit">Partir de la communauté</button>
                    <input type="hidden" name="user" value="{{ user.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>

            </div>
        {% else %}
            <div class="col d-flex flex-column" style="margin-top: 50px;">
                <p>Rejoindre la communauté vous permettra de pouvoir emprunter les produits mise à
                disposition par les membres du groupe et également de pouvoir partager vos propres
                produits ! N'hésitez pas à aller voir le lien laisser par la communauté, cela peut
                vous permettre de les découvrir avant de participer au partage de produits avec eux !</p>
                <form method="POST" action="{% url 'group_member:add_group_members' %}">
                    {% csrf_token %}
                    <button id="join-community" class="btn btn-link d-inline" value="submit">Rejoindre la communauté !</button>
                    <input type="hidden" name="user" value="{{ user.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
            </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in group_products_list %}
        <div class="col">
            <div class="card mb-3" style="min-width: 250px; max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if product.image %}
                        <img class="product-image" src="{{ product.image.url }}" alt="...">
                        {% endif %}
                    </div>
                <div class="col-md-4 w-100 h-100">
                    <div class="card-body">
                        <a href="{% url 'product:product' product.pk %}"><h5 class="card-title">{{ product.name }}</h5></a>
                            {% if product.tenant %}
                            <p class="card-text">{{ product.points }} | Utilisations restantes: 3</p>
                            {% else %}
                            <p class="card-text">{{ product.points }}</p>
                            {% endif %}
                            <p class="card-text"><a href="{% url 'product:product' product.pk %}" class="text-muted">Voir produit</a></p>
                    </div>
                </div>
                </div>
            </div>
            <div>
                {% if not product.tenant %}
                <form method="POST" action="{% url 'group_member:rent' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary" value="submit">Louer</button>
                        <input type="hidden" name="product" value="{{ product.id }}"/>
                        <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                </form>
                {% else %}
                <a class="btn btn-outline-secondary disabled" href="">Indisponible</a>
                {% if product.user_provider == member %}
                <a class="btn btn-outline-primary" href="">Livré</a>
                {% endif %}
                {% endif %}
                {% if member %}
                {% if product.tenant == member %}
                <form method="POST" action="{% url 'group_member:cancel_rent' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" value="submit">Rendre</button>
                        <input type="hidden" name="product" value="{{ product.id }}"/>
                        <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                </form>
                {% endif %}
                {% if product.user_provider == member %}
                <a class="btn btn-outline-light" href="">Modifier</a>
                <form method="POST" action="{% url 'product:delete_product' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" value="submit">Supprimer</button>
                        <input type="hidden" name="product_to_delete" value="{{ product.id }}"/>
                        <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>

                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h1> Vous n'avez pas accès à cette communauté car celle-ci est privée !</h1>
{% endif %}
</div>
<style>
    .product-image{
        width: 180px;
        height: 100px;
    }
    .group-image{
        width: 100px;
    }
</style>
{% endblock content %}
</body>
</html>