<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ group.name }}</title>
</head>
<body>
{% block content %}
{% include 'messages.html' %}
{% if group.private and group.name in group_member_list or not group.private %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="col d-flex flex-row align-items-center">
                <h1 class="pe-5">{{ group.name }}</h1>
                {% if group.image %}
                <img class="group-image pe-2" src="{{ group.image.url }}" title="Image de la communauté {{ group.name }} : {% if group.address %} {{ group.address }} {% else %} {{ group.url }} {% endif %}">
                {% else %}
                <img class="group-image pe-2" src="{% static 'social-media.png' %}" alt="Image de la communauté {{ group.name }}" title="Image de la communauté {{ group.name }} : {% if group.address %} {{ group.address }} {% else %} {{ group.url }} {% endif %}">
                {% endif %}
                {% if group.url %}
                <a class="ms-5" href="{{ group.url }}">Site web ou Discord de la communauté</a>
                {% else %}
                <p class="ms-5 text-danger">Cette communauté n'a pas de site web ou Discord</p>
                {% endif %}
            </div>
            <p>Nombre de membres : {{ members_number }}</p>
            <p>Nombre de points : {{ group.points }}</p>
            <p>Nombre de produits : {{ products_number }}</p>
            <p>Points par utilisateur : {{ group.members_points }}</p>
            <p>Mes points : {{ group_member.points_posseded }}</p>
            {% if group.address %}
            <p>Adresse : {{ group.address }}</p>
            {% endif %}
        </div>
        {% if group.name in group_member_list %}
            <div class="col d-flex flex-column mt-5">
                <a id="collective-decision" class="link-primary d-inline ms-3 mb-2" href="{% url 'collective_decision:vote' group.pk %}">Décisions collective</a>
                <a id="create-product" class="link-primary d-inline ms-3 mb-2" href="{% url 'product:add_product' group.pk %}">Inscrire un produit</a>
                <form method="POST" action="{% url 'group_member:delete_group_members' %}">
                    {% csrf_token %}
                    <button id="leave-community" class="btn btn-danger d-inline" value="submit">Partir de la communauté</button>
                    <input type="hidden" name="user" value="{{ user.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>

            </div>
        {% else %}
            <div class="col d-flex flex-column" style="margin-top: 50px;">
                <p>Rejoindre la communauté vous permettra de pouvoir emprunter les produits mise à
                disposition par les membres du groupe et également de pouvoir partager vos propres
                produits ! N'hésitez pas à aller voir le lien laisser par la communauté, cela peut
                vous permettre de les découvrir avant de participer au partage de produits avec eux !</p>
                <form method="POST" action="{% url 'group_member:add_group_members' %}">
                    {% csrf_token %}
                    <button id="join-community" class="btn btn-link d-inline" value="submit">Rejoindre la communauté !</button>
                    <input type="hidden" name="user" value="{{ user.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
            </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        {% for product in group_products_list %}
        <div class="col">
            <div class="card mb-3 mt-2" style="min-width: 350px; min-height: 200px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if product.image %}
                        <img class="product-image mt-3" src="{{ product.image.url }}" title="Image du produit {{ product.name }} : {{ product.description }}">
                        {% else %}
                        <img class="product-image mt-3" src="{% static 'social-media.png' %}" alt="Image du produit {{ product.name }}" title="Image du produit {{ product.name }} : {{ product.description }}">
                        {% endif %}
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Coût : {{ product.points }}</p>
                            {% if product.rental_end %}
                            <p class="card-text">Fin de location : {{ product.rental_end }}</p>
                            {% endif %}
                            <p class="card-text"><a name="{{ product.name }}" class="text-muted" href="{% url 'product:product' product.pk %}">Voir produit</a></p>
                    </div>
                </div>
                </div>
            </div>
            <div>
                {% if not product.tenant %}
                <form method="POST" action="{% url 'group_member:rent' %}">
                        {% csrf_token %}
                        <button class="rent btn btn-outline-primary" value="submit">Louer</button>
                        <input type="hidden" name="product" value="{{ product.id }}"/>
                        <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                </form>
                {% else %}
                <a class="btn btn-outline-secondary disabled" href="">Indisponible</a>
                {% if not product.delivered %}
                {% if product.user_provider == group_member or product.group_provider %}
                <form method="POST" action="{% url 'product:delivery' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary" value="submit">Livrer</button>
                        <input type="hidden" name="product" value="{{ product.id }}"/>
                </form>
                {% endif %}
                {% else %}
                <a class="btn btn-outline-secondary disabled" href="">Livré</a>
                {% endif %}
                {% endif %}
                {% if group_member %}
                {% if product.tenant == group_member %}
                <form method="POST" action="{% url 'group_member:cancel_rent' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" value="submit">Rendre</button>
                        <input type="hidden" name="product" value="{{ product.id }}"/>
                        <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                </form>
                {% endif %}
                {% if product.user_provider == group_member or product.group_provider %}
                <a class="btn btn-outline-secondary" href="{% url 'product:modify_product' product.group.pk product.pk %}">Modifier</a>
                <form method="POST" action="{% url 'product:delete_product' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" value="submit">Supprimer</button>
                        <input type="hidden" name="product_to_delete" value="{{ product.id }}"/>
                        <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>

                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h1> Vous n'avez pas accès à cette communauté car celle-ci est privée !</h1>
{% endif %}
</div>
<style>
    .product-image{
        max-width: 130px;
        max-height: 150px;
    }
    .group-image{
        width: 100px;
    }
    .card{
        min-width: 350px;
        min-height: 200px;
        max-width: 350px;
        max-height: 200px;
    }
</style>
{% endblock content %}
</body>
</html>