{% extends 'base.html' %}

{% load static %}

{% block title %}Inscrire produit{% endblock title %}

<!-- Content-->
{% block content %}
{% include 'messages.html' %}
<div class="container mt-5">
    <h1>Ajouter un nouveau produit</h1>
    <div class="col-8">
        <div class="col d-flex flex-row align-items-center">
            <a href="{% url 'group:community' group.pk %}"><h1 class="pe-5 mt-3">{{ group.name }}</h1></a>
            {% if group.image %}
            <img class="group-image" src="{{ group.image.url }}">
            {% endif %}
        </div>
        <p>Nombre de membres : {{ group.members.count }}</p>
        <p>Nombre de points : {{ group.points }}</p>
        <p>Nombre de produits : {{ group.group_owns_product.count }}</p>
        <p>Points par utilisateur : {{ group.members_points }}</p>
        <p>Adresse : {{ group.address }}</p>
    </div>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Nom du produit : </label>
        {{ product_form.name }}
    </div>
    <div class="form-group">
        <label class="mt-3">Image : </label>
        {{ product_form.image }}
    </div>
    <div class="form-group">
        <label class="mt-3">Description : </label>
        {{ product_form.description }}
    </div>
    <div class="form-group">
        <label class="mt-3">Fournisseur : Est-ce vous ou la communauté qui partage le produit ? </label>
        <div> Moi : {{ product_form.group_member }}</div>
    </div>
    <div class="form-group">
        <label class="mt-3">Coût : </label>
        {{ estimation_form.cost }}
    </div>
    <input id="button-submit" class="btn btn-primary mt-5" type="submit" value="Inscrire le produit">

</form>

</div>
<style>
    .product-image{
        width: 180px;
        height: 100px;
    }
    .group-image{
        width: 100px;
    }
</style>
{% endblock content %}