<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Render Product Mail</title>
</head>
<body>
<h1>Hello {{ username }} !</h1>
<h2>Il faut rendre {{ product.name }} à la communauté ! </h2>

<div class="col">
      <h1 class="mt-5">{{ product.name }}</h1>
      {% if product.image %}
      <img class="product-image" src="{{ product.image.url }}" title="Image du produit {{ product.name }} : {{ product.description }}">
      {% else %}
      <img class="product-image ms-3" src="{% static 'social-media.png' %}" alt="Image du produit {{ product.name }}" title="Image du produit {{ product.name }} : {{ product.description }}">
      {% endif %}
      <p>{{ product.description }}</p>
</div>
{% if user_provider %}
<p>Rendez le à {{ product.user_provider }} à l'adresse suivante : {{ product.user_provider.user.address }}</p>
{% else %}
<p>Rendez le à {{ product.group_provider }} à l'adresse suivante : {{ product.group_provider.address }}</p>
{% endif %}

</body>
<style>
    .product-image{
        width: 180px;
        height: 100px;
    }
    .group-image{
        width: 100px;
    }
</style>
</html>