<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes produits loués</title>
</head>
<body>
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if rented_products %}
        <div class="container mt-5 mb-3">
            <h1> Vos produits loués </h1>
        </div>
            {% for product in rented_products %}
            <div class="container mt-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if product.image %}
                            <img class="product-image" src="{{ product.image.url }}" alt="...">
                            {% endif %}
                        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{% url 'product:product' product.pk %}"><h5 class="card-title">{{ product.name }}</h5></a>
                                <p class="card-text"> {{ product.points }}</p>
                                {% if product.tenant %}
                                <p>Utilisations restantes: 3</p>
                                {% endif %}
                                <p class="card-text"><a href="{% url 'group:community' product.group.pk %}" class="text-muted">Communauté : {{ product.group }}</a></p>
                        </div>
                    </div>
                    </div>
                </div>
                <div>
                    {% if not product.tenant %}
                    <a class="btn btn-outline-primary" href="">Louer</a>
                    {% else %}
                    <a class="btn btn-outline-secondary disabled" href="">Indisponible</a>
                    {% endif %}
                    {% if product.group_provider == product.group %}
                    <a class="btn btn-outline-success" href="">Modifier</a>
                    <a class="btn btn-outline-danger" href="">Supprimer</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h1 class="mt-5">Vous n'avez loué aucun produit ! </h1>
            <p>Il est temps de vous faire plaisir ! Rendez-vous dans la page de une de vos communautés et cliquer sur "Louer" en dessous du produit qui vous plaît </p>
        {% endif %}
    </div>
</div>
<style>
    .product-image{
        width: 180px;
        height: 100px;
    }
    .group-image{
        width: 100px;
    }
</style>
{% endblock content %}
</body>
</html>