<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes produits fournis</title>
</head>
<body>
{% block content %}
{% include 'messages.html' %}
<div class="container-fluid">
    <div class="row">
        {% if supplied_products %}
        <div class="container mt-5 mb-3">
            <h1> Vos produits </h1>
        </div>
            {% for product in supplied_products %}
            <div class="container mt-3">
                <div class="card mb-3" style="max-width: 540px; min-height: 200px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if product.image %}
                            <img class="product-image" src="{{ product.image.url }}" title="Image du produit {{ product.name }} : {{ product.description }}">
                            {% else %}
                            <img class="product-image ms-3 mt-3" src="{% static 'social-media.png' %}" alt="Image du produit {{ product.name }}" title="Image du produit {{ product.name }} : {{ product.description }}">
                            {% endif %}
                        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{% url 'product:product' product.pk %}"><h5 class="card-title">{{ product.name }}</h5></a>
                                <p class="card-text">Coût : {{ product.points }}</p>
                                {% if product.rental_end %}
                                <p class="card-text">Fin de location : {{ product.rental_end }}</p>
                                {% endif %}
                                <p class="card-text"><a href="{% url 'group:community' product.group.pk %}" class="text-muted">Communauté : {{ product.group }}</a></p>
                        </div>
                    </div>
                    </div>
                </div>
                <div>
                    {% if not product.tenant %}
                <form method="POST" action="{% url 'group_member:rent' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary" value="submit">Louer</button>
                        <input type="hidden" name="product" value="{{ product.id }}"/>
                        <input type="hidden" name="group_member" value="{{ product.user_provider.id }}"/>
                </form>
                {% else %}
                <a class="btn btn-outline-secondary disabled" href="">Indisponible</a>
                <a class="btn btn-outline-warning" href="">Livré</a>
                {% endif %}
                {% if member %}
                {% if product.tenant == product.user_provider %}
                <form method="POST" action="{% url 'group_member:cancel_rent' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" value="submit">Rendre</button>
                        <input type="hidden" name="product" value="{{ product.id }}"/>
                        <input type="hidden" name="group_member" value="{{ product.user_provider.id }}"/>
                </form>
                {% endif %}
                <a class="btn btn-outline-secondary" href="">Modifier</a>
                <form method="POST" action="{% url 'product:delete_product' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" value="submit">Supprimer</button>
                        <input type="hidden" name="product_to_delete" value="{{ product.id }}"/>
                        <input type="hidden" name="group" value="{{ product.group.id }}"/>
                </form>

                {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h1 class="mt-5">Vous n'avez fournis aucun produit ! </h1>
            <p>Il est temps d'en fournir un ! Rendez-vous dans la page de une de vos communautés et cliquer sur "Inscrire un produit" </p>
        {% endif %}
    </div>
</div>
<style>
    .product-image{
        width: 180px;
        height: 100px;
    }
    .group-image{
        width: 100px;
    }
</style>
{% endblock content %}
</body>
</html>