<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
{% block content %}
<body>
<div class="container-fluid">
  <div class="row">
<!--    List Community group for PC  -->
    <div class="col-3 d-none d-lg-block">
        <div class="list-group">
            {% for community in communities %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ community.name }}</h5>
                    <img class="group-image" src="{{ community.image.url }}">
                    <div style="display: flex; flex-direction: column">
                        {% if not community.name in group_member_list %}
                        {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'group_member:add_group_members' %}">
                            {% csrf_token %}
                            <button value="submit" class="btn btn-outline-primary">Rejoindre</button>
                            <input type="hidden" name="user" value="{{ user.id }}"/>
                            <input type="hidden" name="group" value="{{ community.id }}"/>
                        </form>
                        {% else %}
                        <a role="button" href="{% url 'group:community' community.pk %}" class="btn btn-outline-primary">Rejoindre</a>
                        {% endif %}
                        {% endif %}
                        <a role="button" href="{% url 'group:community' community.pk %}" class="btn btn-outline-primary">Catalogue</a>
                    </div>
                </div>
                <p class="mb-1">Membres : {{ community.members.count }}</p>
                <p class="mb-1">Points : {{ community.points }}</p>
                <p class="mb-1">Produits : {{ community.products_number }}</p>
                <p class="mb-1">Points par utilisateur : {{ community.members_points }}</p>
                <p class="mb-1">Adresse : {{ community.address }}</p>
                <small>Small description</small>
            </a>
            {% endfor %}
        </div>
    </div>
<!--    List Community for smartphone  -->
    <div class="d-block d-lg-none" style="z-index: 1080;">
        <button id="communities" class="btn btn-light" data-bs-toggle="collapse" href="#community_smartphone" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><span class="navbar-toggler-icon">\o/</span></button>
        <div class="collapse multi-collapse" id="community_smartphone">
            <div class="list-group">
                {% for community in communities %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ community.name }}</h5>
                            <img class="group-image" src="{{ community.image.url }}">
                            <div style="display: flex; flex-direction: column">
                                <button type="button" class="btn btn-outline-primary">Rejoindre</button>
                                <a class="btn btn-outline-primary" href="{% url 'group:community' community.pk %}">Catalogue</a>
                            </div>
                        </div>
                        <p class="mb-1">Membres : {{ community.members_number }}</p>
                        <p class="mb-1">Points : {{ community.points }}</p>
                        <p class="mb-1">Produits : {{ community.products_number }}</p>
                        {% if user.is_authenticated %}
                        <p>Mes points : {{ user.points_posseded }}</p>
                        {% endif %}
                        <p class="mb-1">Points par utilisateur : {{ points_by_members }}</p>
                        <p class="mb-1">Adresse : {{ community.address }}</p>
                        <small>Small description</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="products" class="col">
        <div class="row row-cols-2" >
            <div class="col">
                {% for product in community.group_owns_product.all %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="product-image" src="{{ product.image.url }}" alt="...">
                            </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.points }}</p>
                                    <p class="card-text">Utilisations restantes : 3</p>
                                    <p class="card-text"><a class="text-muted" href="{% url 'product:product' product.pk %}">Voir produit</a></p>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
    </div>
</div>
</div>
</body>
<style>
    .product-image{
        width: 120px;
    }

    .group-image{
        width: 100px;
    }

    .list-group-item.active{
        color: #000000 !important;
        background-color: #ffff !important;
        border-color: #0d6efd !important;
</style>
<script>
    let communities = document.querySelector("#communities");
    communities.addEventListener("click", function (event) {
        event.preventDefault();
        let products = document.querySelector("#products");
        products.setAttribute("hidden");
    });
</script>
{% endblock content %}
</html>