<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
{% block content %}
<body>
<div class="container-fluid">
  <div class="row">
<!--    List Community group for PC  -->
    <div class="col-3 d-none d-lg-block">
        <a id="create-community" role="button" href="{% url 'group:group_inscription' %}" class="btn btn-outline-primary mb-3">Créer une communauté</a>
        <div class="list-group">
            {% for community in communities %}
            <div class="list-group-item list-group-item-action">
                <p class="community_id" hidden>{{ community.pk }}</p>
                <div class="d-flex w-100 justify-content-between">
                    <a id="community-page" href="{% url 'group:community' community.pk %}"><h5 class="mb-1">{{ community.name }}</h5></a>
                    {% if community.image %}
                    <img class="group-image" src="{{ community.image.url }}">
                    {% endif %}
                    <div style="display: flex; flex-direction: column">
                        {% if not community.name in group_member_list %}
                        {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'group_member:add_group_members' %}">
                            {% csrf_token %}
                            <button value="submit" class="btn btn-outline-primary">Rejoindre</button>
                            <input type="hidden" name="user" value="{{ user.id }}"/>
                            <input type="hidden" name="group" value="{{ community.id }}"/>
                        </form>
                        {% else %}
                        <a id="join-community" role="button" href="{% url 'group:community' community.pk %}" class="btn btn-outline-primary">Rejoindre</a>
                        {% endif %}
                        {% endif %}
                        <a role="button" href="{% url 'group:community' community.pk %}" class="btn btn-outline-primary">Catalogue</a>
                    </div>
                </div>
                <p class="mb-1">Membres : {{ community.members.count }}</p>
                <p class="mb-1">Points : {{ community.points }}</p>
                <p class="mb-1">Produits : {{ community.products_number }}</p>
                <p class="mb-1">Points par utilisateur : {{ community.members_points }}</p>
                <p class="mb-1">Adresse : {{ community.address }}</p>
                <small>Small description</small>
            </div>
            {% endfor %}
        </div>
    </div>
<!--    List Community for smartphone  -->
    <div class="d-block d-lg-none" style="z-index: 1080;">
        <button id="communities" class="btn btn-light" data-bs-toggle="collapse" href="#community_smartphone" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><span class="navbar-toggler-icon">\o/</span></button>
        <div class="collapse multi-collapse" id="community_smartphone">
            <div class="list-group">
                {% for community in communities %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ community.name }}</h5>
                            {% if community.image %}
                            <img class="group-image" src="{{ community.image.url }}">
                            {% endif %}
                            <div style="display: flex; flex-direction: column">
                                <button type="button" class="btn btn-outline-primary">Rejoindre</button>
                                <a class="btn btn-outline-primary" href="{% url 'group:community' community.pk %}">Catalogue</a>
                            </div>
                        </div>
                        <p class="mb-1">Membres : {{ community.members_number }}</p>
                        <p class="mb-1">Points : {{ community.points }}</p>
                        <p class="mb-1">Produits : {{ community.products_number }}</p>
                        {% if user.is_authenticated %}
                        <p>Mes points : {{ user.points_posseded }}</p>
                        {% endif %}
                        <p class="mb-1">Points par utilisateur : {{ points_by_members }}</p>
                        <p class="mb-1">Adresse : {{ community.address }}</p>
                        <small>Small description</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row row-cols-2" >
            <div id="products"  class="col">
                {% for product in group.group_owns_product.all %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if product.image %}
                                <img class="product-image" src="{{ product.image.url }}" alt="...">
                                {% endif %}
                            </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.points }}</p>
                                    <p class="card-text">Utilisations restantes : 3</p>
                                    <p class="card-text"><a class="text-muted" href="{% url 'product:product' product.pk %}">Voir produit</a></p>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
    </div>
</div>
</div>
</body>
<style>
    .product-image{
        width: 120px;
    }

    .group-image{
        width: 100px;
    }

    .list-group-item.active{
        color: #000000 !important;
        background-color: #ffff !important;
        border-color: #0d6efd !important;
</style>
<script>
    let communities = document.querySelector(".list-group-item");

    communities.addEventListener("click", function (event) {
        event.preventDefault();
        community_pk = event.target.children.item(0).innerText
        pk_argument =  new URLSearchParams(community_pk)

        fetch("group_products/" + community_pk)
             .then(response => response.json())
             .then(data => {
                // Select products boostrap colonne
                let products = document.querySelector("#products");
                console.log(products)

                // For each product construct the boostrap card
                for (let i = 0; i < data.length; i++){

                    // Construct <div class="card mb-3">
                    let card = document.createElement("div");
                    card.setAttribute("class", "card mb-3");
                    card.setAttribute("style", "max-width: 540px;");
                    card.setAttribute("name", "card" + data[i].fields.name);

                    // Put <div class="card mb-3"> in the DOM as products children
                    products.appendChild(card);

                    // Get <div class="card mb-3">
                    card = document.getElementsByName("card" + data[i].fields.name);

                    // Construct <div class="row g-0">
                    let row = document.createElement("div");
                    row.setAttribute("class", "row g-0");
                    row.setAttribute("name", "row" + data[i].fields.name);

                    // Put <div class="row g-0"> in the DOM as <div class="card mb-3">
                    card.item(0).appendChild(row);

                    // Get <div class="row g-0">
                    row = document.getElementsByName("row" + data[i].fields.name);

                    // Construct <div class="col-md-4">
                    let colFour = document.createElement("div");
                    colFour.setAttribute("class", "col-md-4");
                    colFour.setAttribute("name", "colFour" + data[i].fields.name);

                    // Put <div class="col-md-4"> in the DOM as <div class="row g-0"> children
                    row.item(0).appendChild(colFour);

                    // Get <div class="col-md-4">
                    colFour = document.getElementsByName("colFour" + data[i].fields.name);

                    // Construct <img class="product-image" src="product.image">
                    let image = document.createElement("img");
                    image.setAttribute("class", "product-image");
                    image.setAttribute("src", data[i].fields.image);
                    image.setAttribute("name", "image" + data[i].fields.name);

                    // Put <img class="product-image" src="product.image"> in the DOM as <div class="col-md-4"> children
                    colFour.item(0).appendChild(image);

                    // Get <div class="row g-0">
                    row = document.getElementsByName("row" + data[i].fields.name);

                    // Construct <div class="col-md-8">
                    let colEight = document.createElement("div");
                    colEight.setAttribute("class", "col-md-8");
                    colEight.setAttribute("name", "colEight" + data[i].fields.name);

                    // Put <div class="col-md-8"> in the DOM as <div class="row g-0"> children
                    row.item(0).appendChild(colEight);

                    // Get <div class="col-md-8">
                    colEight = document.getElementsByName("colEight" + data[i].fields.name);

                    // Construct <div class="card-body">
                    let cardBody = document.createElement("div");
                    cardBody.setAttribute("class", "card-body");
                    cardBody.setAttribute("name", "cardBody" + data[i].fields.name);

                    // Put <div class="card-body"> in the DOM as <div class="col-md-8"> children
                    colEight.item(0).appendChild(cardBody);

                    // Get <div class="card-body">
                    cardBody = document.getElementsByName("cardBody" + data[i].fields.name);

                    // Construct <div class="card-title">
                    let cardTitle = document.createElement("h5");
                    cardTitle.setAttribute("class", "card-title");
                    cardTitle.innerHTML = data[i].fields.name;
                    cardTitle.setAttribute("name", "cardTitle" + data[i].fields.name);

                    // Put <div class="card-title"> in the DOM as <div class="card-body"> children
                    cardBody.item(0).appendChild(cardTitle);

                    // Get <div class="card-title">
                    cardTitle = document.getElementsByName("cardTitle" + data[i].fields.name);

                    // Construct <div class="card-text">
                    let cardText = document.createElement("p");
                    cardText.setAttribute("class", "card-text");
                    cardText.innerHTML = data[i].fields.points;
                    cardText.setAttribute("name", "cardText" + data[i].fields.name);

                    // Put <div class="card-text"> in the DOM as <div class="card-title"> children
                    cardTitle.item(0).appendChild(cardText);
                }
             });
    });
</script>
{% endblock content %}
</html>