<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
{% block content %}
<body>
<div class="container-fluid">
  <div class="row">
<!--    List Community group for PC  -->
    <div class="col-3 d-none d-lg-block">
        <a id="create-community" role="button" href="{% url 'group:group_inscription' %}" class="btn btn-outline-primary mb-3">Créer une communauté</a>
        <div class="list-group">
            {% for community in my_communities %}
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <a href="{% url 'group:community' community.pk %}"><h5 class="mb-1">{{ community.group.name }}</h5></a>
                    {% if community.group.image %}
                    <img class="group-image" src="{{ community.group.image.url }}">
                    {% endif %}
                    <div style="display: flex; flex-direction: column">
                        <a role="button" href="{% url 'group:community' community.group.pk %}" class="btn btn-outline-primary">Catalogue</a>
                    </div>
                </div>
                <p class="mb-1">Membres : {{ community.group.members.count }}</p>
                <p class="mb-1">Points : {{ community.group.points }}</p>
                <p class="mb-1">Produits : {{ community.group.group_owns_product.count }}</p>
                <p class="mb-1">Points par utilisateur : {{ community.group.members_points }}</p>
                <p class="mb-1">Adresse : {{ community.group.address }}</p>
                <small>Small description</small>
            </div>
            {% endfor %}
        </div>
    </div>
<!--    List Community for smartphone  -->
    <div class="d-block d-lg-none" style="z-index: 1080;">
        <button id="communities" class="btn btn-light" data-bs-toggle="collapse" href="#community_smartphone" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><span class="navbar-toggler-icon">\o/</span></button>
        <div class="collapse multi-collapse" id="community_smartphone">
            <div class="list-group">
                {% for community in my_communities %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ community.group.name }}</h5>
                            {% if community.group.image %}
                            <img class="group-image" src="{{ community.group.image.url }}">
                            {% endif %}
                            <div style="display: flex; flex-direction: column">
                                <a class="btn btn-outline-primary" href="{% url 'group:community' community.group.pk %}">Catalogue</a>
                            </div>
                        </div>
                        <p class="mb-1">Membres : {{ community.group.members_number }}</p>
                        <p class="mb-1">Points : {{ community.group.points }}</p>
                        <p class="mb-1">Produits : {{ community.group.products_number }}</p>
                        <p>Mes points : {{ user.points_posseded }}</p>
                        <p class="mb-1">Points par utilisateur : {{ community.group.points_by_members }}</p>
                        <p class="mb-1">Adresse : {{ community.group.address }}</p>
                        <small>Small description</small>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="products" class="col">
        <div class="row row-cols-2" >
            <div class="col">
                {% for product in community.group.group_owns_product.all %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if product.image %}
                                <img class="product-image" src="{{ product.image.url }}" alt="...">
                                {% endif %}
                            </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.points }}</p>
                                    <p class="card-text">Utilisations restantes : 3</p>
                                    <p class="card-text"><a class="text-muted" href="{% url 'product:product' product.pk %}">Voir produit</a></p>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
    </div>
</div>
</div>
</body>
<style>
    .product-image{
        width: 120px;
    }

    .group-image{
        width: 100px;
    }

    .list-group-item.active{
        color: #000000 !important;
        background-color: #ffff !important;
        border-color: #0d6efd !important;
</style>
<script>
    let communities = document.querySelector("#communities");
    communities.addEventListener("click", function (event) {
        event.preventDefault();
        let products = document.querySelector("#products");
        products.setAttribute("hidden");
    });
</script>
{% endblock content %}
</html>