<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
{% block content %}
{% include 'messages.html' %}
<body>
{% if delete %}
{{ delete }}
{% else %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="col d-flex flex-row align-items-center">
                <h1 class="pe-5">{{ group.name }}</h1>
                {% if group.image %}
                <img class="group-image" src="{{ group.image.url }}" title="Image de la communauté {{ group.name }} : {% if group.address %} {{ group.address }} {% else %} {{ group.url }} {% endif %}">
                {% else %}
                <img class="group-image" alt="Image de la communauté {{ group.name }}" title="Image de la communauté {{ group.name }} : {% if group.address %} {{ group.address }} {% else %} {{ group.url }} {% endif %}">
                {% endif %}
                {% if group.url %}
            <a class="ms-5" href="{{ group.url }}">Site web ou Discord de la communauté</a>
            {% else %}
            <p class="ms-5 text-danger">Cette communauté n'a pas de site web ou Discord</p>
            {% endif %}
            </div>
            <p>Nombre de membres : {{ members_number }}</p>
            <p>Nombre de points : {{ group.points }}</p>
            <p>Nombre de produits : {{ products_number }}</p>
            <p>Points par utilisateur : {{ group.members_points }}</p>
            {% if group.url %}
            <p>Adresse : {{ group.address }}</p>
            {% endif %}
        </div>
        {% if group.name in group_member_list %}
            <div class="col d-flex flex-column mt-5">
                <a style="width: 200px;" class="btn btn-outline-primary" href="{% url 'group:community' group.pk %}">Catalogue</a>
                {% if not modify_group_vote %}
                <form method="POST" action="{% url 'collective_decision:modify_vote_group' %}">
                    {% csrf_token %}
                    <button id="vote-to-modify" class="btn btn-link primary d-inline" value="submit">Modifier la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% else %}
                <form method="POST" action="{% url 'collective_decision:against_modify_vote_group' %}">
                    {% csrf_token %}
                    <button class="btn btn-link primary d-inline" value="submit">Modifier la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% endif %}
                <a class="link-primary d-inline ms-3" href="{% url 'product:add_product' group.pk %}">Inscrire un produit</a>
                {% if not delete_group_vote %}
                <form method="POST" action="{% url 'collective_decision:delete_vote_group' %}">
                    {% csrf_token %}
                    <button id="vote-to-delete"  class="btn btn-link danger d-inline" value="submit">Supprimer la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% else %}
                <form method="POST" action="{% url 'collective_decision:against_delete_vote_group' %}">
                    {% csrf_token %}
                    <button class="btn btn-link danger d-inline" value="submit">Supprimer la communauté</button>
                    <input type="hidden" name="group_member" value="{{ group_member.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
                {% endif %}
                <form method="POST" action="{% url 'group_member:delete_group_members' %}">
                    {% csrf_token %}
                    <button class="btn btn-danger d-inline" value="submit">Partir de la communauté</button>
                    <input type="hidden" name="user" value="{{ user.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>

            </div>
        {% else %}
            <div class="col d-flex flex-column" style="margin-top: 50px;">
                <p>Rejoindre la communauté vous permettra de pouvoir emprunter les produits mise à
                disposition par les membres du groupe et également de pouvoir partager vos propres
                produits ! N'hésitez pas à aller voir le lien laisser par la communauté, cela peut
                vous permettre de les découvrir avant de participer au partage de produits avec eux !</p>
                <form method="POST" action="{% url 'group_member:add_group_members' %}">
                    {% csrf_token %}
                    <button class="btn btn-link d-inline" value="submit">Rejoindre la communauté !</button>
                    <input type="hidden" name="user" value="{{ user.id }}"/>
                    <input type="hidden" name="group" value="{{ group.id }}"/>
                </form>
            </div>
        {% endif %}
    </div>
</div>
<div class="container">
    <h2>Votes pour la modification de {{ group.name }}</h2>
    {% for vote in modify_votes %}
        <div>{% if vote.group_member.user.username %} {{ vote.group_member.user.username }} {% else %} Membre du groupe {% endif %} est {% if vote.modify_group_vote %}pour !{% else %} contre !{% endif %}</div>
    {% endfor %}
    {% if modification_group_activate %}
    <h2 class="mt-3">Modifier {{ group.name }}</h2>
    <a id="modify-community" class="link-success" href="{% url 'group:modify_group' group.pk %}">Cliquez ici pour modifier la communauté !</a>
    {% endif %}
    <h2 class="mt-3">Votes pour la suppression de {{ group.name }}</h2>
    {% for vote in delete_votes %}
        <div>{% if vote.group_member.user.username %} {{ vote.group_member.user.username }} {% else %} Membre du groupe {% endif %} est {% if vote.delete_group_vote %}pour !{% else %} contre !{% endif %}</div>
    {% endfor %}
</div>
<style>
    .group-image{
        width: 100px;
    }
</style>
</body>
{% endif %}
{% endblock content %}
</html>